@model SystemSkarbnik.Models.Zbiorka

@{
    ViewData["Title"] = "";
}

<h1>Detale zbiórki</h1>
<br />
<div>
    

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kwota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kwota)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataOd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataOd)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDo)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Klasa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Klasa.Nazwa)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Skarbnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Skarbnik.Imię)
        </dd>
        <hr />
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Skarbnik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Skarbnik.Nazwisko)
        </dd>
        <hr />
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edytuj</a> |
    <a asp-action="Index">Wróć do listy</a>
</div>
