
@model IEnumerable<SystemSkarbnik.Models.Zbiorka>

@{
    ViewData["Title"] = "";
}

<h1>Lista zbiórek</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kwota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataOd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Klasa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skarbnik)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kwota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataOd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klasa.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skarbnik.Imię)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detale</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
