@model SystemSkarbnik.Models.ZbiorkaUczen

@{
    ViewData["Title"] = "";
}

<h1>Jesteś pewien, że chcesz usunąć tą płatność zbiórki?</h1>
<br />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zbiorka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zbiorka.Nazwa)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Klasa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Klasa.Nazwa)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uczen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uczen.Imię)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CzyZaplacil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CzyZaplacil)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KiedyZaplacil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KiedyZaplacil)
        </dd>
        <hr />
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Wróć do listy</a>
    </form>
</div>
