@model IEnumerable<SystemSkarbnik.Models.Skarbnik>

@{
    ViewData["Title"] = "";
}

<h1>Lista skarbników</h1>

<p>
    <a asp-action="Create">Utwórz nowego skarbnika</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imię)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Klasa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Imię)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klasa.Nazwa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detale</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
